//colors

$c_lightgray: #F2F2F2;
$c_sea: #6FBFB9;
$c_darkgray: #303030;
$c_purple: #906CA2;


// GENERAL

html, body {
  background: $c_lightgray;
  height: 100%;
}

body {
  border-bottom: 5px solid $c_darkgray;
  border-right: 5px solid $c_darkgray;
}

*:focus {
    outline: 0;
}

.icon {
  font-family: "linea-basic-10";
  font-style: normal;
}

.round {
  border-radius: 50%;
  overflow: hidden;
  width: 50px;
  height: 50px;
}

// NAVIGATION

#main-nav {
  width: 110px;
  height: 100%;
  background: $c_darkgray;
  float: left;

  ul {
    list-style: none;
    padding: 0;
    text-align: center;

    li.menu-item-large {

      a:hover {
        text-decoration: none;
        color: $c_sea;
        background: darken( $c_darkgray, 5% );
      }

      a {
        padding: 20px;
        display: block;
        color: white;
        text-transform: uppercase;
        font-size: 12px;

        .icon {
          margin-bottom: 10px;
          font-size: 25px;
          display: block;
        }

      }

    }

    #logo {
      padding: 20px;
      background: $c_sea;

      img {
        width: 50px;
        height: 50px;
      }

    }

  }

}

// MAIN WRAPPER

main {
  float: left;
  width: calc(100% - 110px);

  header {

    width: 100%;
    height: 90px;
    background: darken( $c_lightgray, 6% );
    padding: 0;

    .icon {
      color: lighten($c_darkgray, 30%);
      font-size: 16px;
      display: block;
      width: 50px;
      padding: 35px 20px 31px 33px;
      float: left;
    }

    #main-search {
      float: left;
      width: calc(100% - 143px);
      height: 90px;
      padding: 10px;
      font-size: 18px;
      background: transparent;
      border: 0;
      color: lighten($c_darkgray, 30% );
    }

    #user-profile {
      width: 90px;
      height: 90px;
      display: block;
      border: 0;
      background: $c_darkgray;
      float: right;

      #user-avatar {
        margin: 20px;

        img {
          height: 100%;
          width: 100%;
        }

      }

    }


  }

}
